body {
  padding-top: 70px;
}

.nav-1 {
  background: #F72210;
}

.first-button {
  color: black;
  background-color: #FBE401;
  border-radius: 11px;
  width: 92.58px;
  font-size: 13px;
  font-weight: bold;
}

.pointer {
  cursor: pointer;
}